# Git
.git
.gitignore
.github
.gitattributes

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Builds
# We need dist/apps/api for our Docker build
dist/apps/web
dist/apps/mobile
dist/apps/web-e2e
dist/apps/api-e2e
tmp
/out-tsc
.nx

# Docker-related files
docker-compose.yml
.dockerignore

# Editor settings and caches
.idea
.vscode
.DS_Store
*.swp
*~
.cursor

# Data
data/

# Nx cache
.nx/cache 